<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MainProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MainProject.Properties.Settings.FarmManageDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\FarmManageDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <MainProject.Properties.Settings>
            <setting name="infoFarmName" serializeAs="String">
                <value>ภูเก็ตฟาร์มโคเนื้อ</value>
            </setting>
            <setting name="infoCompany" serializeAs="String">
                <value>บริษัท ภูเก็ตฟาร์มโคเนื้อ จำกัด</value>
            </setting>
            <setting name="infoFName" serializeAs="String">
                <value />
            </setting>
            <setting name="infoLName" serializeAs="String">
                <value />
            </setting>
            <setting name="infoAddres" serializeAs="String">
                <value>80/2</value>
            </setting>
            <setting name="infoCity" serializeAs="String">
                <value>กะทู้</value>
            </setting>
            <setting name="infoDistrict" serializeAs="String">
                <value>เมือง</value>
            </setting>
            <setting name="infoProvince" serializeAs="String">
                <value>ภูเก็ต</value>
            </setting>
            <setting name="infoCountry" serializeAs="String">
                <value>ประเทศไทย</value>
            </setting>
            <setting name="infoTel" serializeAs="String">
                <value>087-234-4567</value>
            </setting>
            <setting name="infoMobile" serializeAs="String">
                <value>088-234-4567</value>
            </setting>
            <setting name="infoFax" serializeAs="String">
                <value>089-234-4567</value>
            </setting>
            <setting name="infoEmail" serializeAs="String">
                <value>customer@phuketcow.com</value>
            </setting>
            <setting name="infoWebsite" serializeAs="String">
                <value>www.phuketcow.com</value>
            </setting>
            <setting name="fUsernameList" serializeAs="String">
                <value />
            </setting>
            <setting name="infoFormat" serializeAs="String">
                <value>th-TH</value>
            </setting>
            <setting name="infoPostcode" serializeAs="String">
                <value>83120</value>
            </setting>
            <setting name="infoTax" serializeAs="String">
                <value>12121-23082394-1231</value>
            </setting>
            <setting name="infoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbInstance" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbWinAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sysFirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </MainProject.Properties.Settings>
    </userSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup></configuration>
